<h1>BILL OF LADING</h1>

<form [formGroup]="formGroup">

  <topcrop-shipping-table [formGroup]="formGroup" (shippingUpdated)="updateShipping($event)"></topcrop-shipping-table>

  <div></div>

  <mat-form-field appearance="fill" class="routing">
    <mat-label>Special Carrier Routing</mat-label>
    <input matInput formControlName="specialCarrierRouting" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-form-field appearance="fill" class="routing">
    <mat-label>P.O. Number:</mat-label>
    <input matInput formControlName="poNumberRouting" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <div></div>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>Shipping Units</mat-label>
    <input matInput formControlName="shippingUnits" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-checkbox formControlName="hazardousMaterial">Haz Material?</mat-checkbox>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>NMFC Item No.</mat-label>
    <input matInput formControlName="nmfcNumber" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>Weight (in Lbs)</mat-label>
    <input matInput formControlName="weight" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>Class</mat-label>
    <input matInput formControlName="class" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>FedEx Acct #</mat-label>
    <input matInput formControlName="fedexAccountNumber" autocomplete="doNotAutoComplete">
  </mat-form-field>

  <mat-form-field appearance="fill" class="large-table">
    <mat-label>Quote #</mat-label>
    <input matInput formControlName="quoteNumber" autocomplete="doNotAutoComplete">
  </mat-form-field>


</form>